@model Schedule
<div class="text-danger" asp-validation-summary="All"></div>

<div class="form-group">
    <label asp-for="Name">Name</label>
    <input type="text" asp-for="Name" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="DateCreated">Date created</label>
    <input type="datetime" asp-for="DateCreated" class="form-control" value="@Model.DateCreated?.ToString("d")" />
</div>