@model Schedule

@{
    ViewData["Title"] = "Delete Schedule";
}

<h6>Confirm Deletion</h6>
<h3>@Model.Name (Created: @Model.DateCreated?.ToString("d"))</h3>

<form asp-controller="Schedule" asp-action="ProcessDeleteRequestById" asp-route-id="@Model.ScheduleId" method="post" enctype="application/x-www-form-urlencoded">
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Schedule" asp-action="GetAllSchedules" class="btn btn-primary">Cancel</a>
</form>
